.eh-background {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

.eh-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.eh-trim {
  width: fit-content;
}

.eh-button:hover {
  background: gray !important;
  color: white;
  transition: 0.3s;
}