.pos-fixed {
    position: fixed;
    right: 5%;
    top: 15%;
}

.pos-fixedWelcome {
    position: fixed;
    left: 12%;
    top: 30%;
}

.pos-fixedInit {
    position: fixed;
    left: 20%;
    top: 50%;
    color: cyan;
}

.pos-fixedHi {
    position: fixed;
    left: 45%;
    top: 40%;
    color: cyan;
}

.pos-background {
    height: auto;
    /*height: 90vh;*/
}

.pos-descriptionColor{
    background: rgb(149, 177, 143);
    color: rgb(85, 130, 83);
}

.pos-descriptionText{
    margin-left: 3%;
}



